:root {
  --dawntreader-primary: linear-gradient(to right, yellow, white);
  --header: 4rem;
  --footer: 40px;
  --main-body: calc(100vh - var(--header) - var(--footer));
}

/*  
   ========================================================================= 
   =                         KEVIN POWELL CSS RESET                        =   
   =========================================================================  
   */

/*  Source: https://www.youtube.com/shorts/2lyDv0wOQuQ */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
* {
  margin: 0;
  padding: 0;
}

/* dark mode user-agent-styles */
/* html {
 color-scheme: dark light;
  } */

/* min body height */
body {
  font-size: 1.125rem;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
select {
  font-size: inherit;
}

/*  
   ========================================================================= 
   =                          BASIC STYLING BY ME                          =   
   =========================================================================  
   */

main,
nav {
  flex-grow: 1;
}

header,
.header {
  height: var(--header);
}

header {
  position: sticky;
  top: 0;
}

footer {
  height: var(--footer);
  display: flex;
  align-items: center;
}

header,
footer {
  background: var(--dawntreader-primary);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  & > * {
    padding: 0 20px;
  }

  & > .main-sidebar {
    padding-left: 0;
    padding-right: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  & .title {
    align-self: flex-start;
  }
}

/* .header > .title {
 align-self: flex-start;
  }
   */

.nav-links {
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
  margin-right: 5rem;
  list-style-type: none;

  & a {
    text-decoration: none;
    color: black;
  }
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.main-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 720px;
  margin: 0 auto;
  margin-top: 10px;
}

.hero img {
  /* width: clamp(150px, 40%, 500px); */
  width: max(720px, 40%);
}

.cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.card {
  width: 400px;
  & h2 {
    background: var(--dawntreader-primary);
  }
}

@media screen and (max-width: 768px) {
  .wrapper h2 {
    text-align: center;
  }
  .header {
    flex-direction: column;
    margin-right: 0;
    gap: 0;
    & .title {
      align-self: center;
    }
  }

  .nav-links {
    justify-content: space-between;
    gap: 10px;
    margin-right: 0;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
  }
}

/*  
   ========================================================================= 
   =                             MEMBERS HTML                              =   
   =========================================================================  
   */

.members-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  flex: 1;
}

.member-portrait-container {
  flex-grow: 1;
  padding-top: 1rem;
}

.member-portraits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 200px;
  column-gap: 20px;

  & img {
    border-radius: 50%;
    border: 2px solid black;
  }
}

/* .member-portraits img {
 border-radius: 50%;
 border: 2px solid black;
  } */

.portrait-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.member-image {
  margin: auto;
  max-width: min(634px, 33vw);
}

@media screen and (max-width: 1080px) {
  .members-display {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }

  .member-image {
    max-width: 100%;
    padding: 10px 0;
  }

  .member-portraits {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;
  }
}

@media screen and (min-width: 1080px) {
  .member-portrait-container {
    max-width: 40vw;
    max-height: var(--main-body);
    overflow-y: auto;
  }
}

.member-portrait-container::-webkit-scrollbar {
  display: none;
}

/*  
 ========================================================================= 
 =                             EVENTS HTML                               =   
 =========================================================================  
 */

.events {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: var(--main-body);
}

.events > aside {
  grid-row: 1 / 2;
  background-color: purple;
}

.sidebar {
  padding: 20px;
}

.event-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  overflow-y: auto;
}

article > .current-events {
  margin: 20px;
}

.image-container {
  margin: 0 20px;
}

.image-container > img {
  margin: 0 auto;
  width: max(720px, 40%);
}

@media screen and (max-width: 768px) {
  .events {
    display: grid;
    grid-template-columns: 1fr;
    height: var(--main-body);
  }

  aside {
    display: none;
  }
}

/*  
 ========================================================================= 
 =                            MEETINGS HTML                              =   
 =========================================================================  
 */

.meetings-current {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: var(--main-body);
}

.meetings-banner {
  width: 100%;
  max-width: 1280px;
  height: 110px;
  margin-top: 20px;
  /* border: 2px solid black; */
  background: center no-repeat
    url(../fc-screenshots/2022/fc-events/fc-starlight-christmas.png);
}

.meetings-previous {
  margin-top: auto;
}
