:root {
  --dawntreader-primary: linear-gradient(to right, yellow, white);
}

/*  
 ========================================================================= 
 =                         KEVIN POWELL CSS RESET                        =   
 =========================================================================  
 */
/*  
   Source: https://www.youtube.com/shorts/2lyDv0wOQuQ 
 */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
* {
  margin: 0;
  padding: 0;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  font-size: 1.125rem;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
select {
  font-size: inherit;
}

/*  
 ========================================================================= 
 =                          BASIC STYLING BY ME                          =   
 =========================================================================  
 */

main,
nav {
  flex-grow: 1;
}

header,
.header {
  height: 4rem;
}

footer {
  height: 40px;
  display: flex;
  align-items: center;
}

header,
footer {
  background: var(--dawntreader-primary);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  & > * {
    padding: 0 20px;
  }
}

/* .wrapper > * {
  padding: 0 20px;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header > :nth-child(1) {
  align-self: flex-start;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
  margin-right: 5rem;
  list-style-type: none;
  & a {
    text-decoration: none;
    color: black;
  }
}

.nav-links a {
  text-decoration: none;
  color: black;
}
.main-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.hero img {
  /* width: clamp(150px, 40%, 500px); */
  width: max(340px, 50%);
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 400px;
}

@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 100%;
  }
}
